Checks: >
  bugprone-*,
  performance-*,
  portability-*,
  readability-*,
  modernize-*,
  cppcoreguidelines-*,
  -cppcoreguidelines-owning-memory

WarningsAsErrors: ''

HeaderFilterRegex: '.*'

FormatStyle: file